<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://p4.wallpaperbetter.com/wallpaper/287/620/954/hulk-avengers-age-of-ultron-the-avengers-wallpaper-preview.jpg);">
    <div class="container">
      <h1>Your List of Movies</h1>
    </div>
</div>

<div class="container">

  <div class="cards-grid">
      <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585647347483-22b66260dfff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)">
        <%= link_to list.name, list, class:"title-card"%>
      </div>
      <% end %>
  </div>
  <%= link_to 'Add a new List', new_list_path, class:"btn-neon" %>

</div>
